<!DOCTYPE html>
{% load compress %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="csrf-token" content="{{csrf_token}}">

        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />

        <title>Academicspam</title>

        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}scss/main.scss" type="text/x-scss">
        {% endcompress %}

    </head>

    <body>
      {% include 'asciiart.html' %}
      
      {% if not user.is_authenticated %}
        {% include 'loginform.html' %}
      {% endif%}
    </body>
</html>