{% extends 'main.html' %}

{% block body %}

    {% include 'asciiart.html' %}
    
    {% if not user.is_authenticated %}
      {% include 'loginform.html' %}
    {% else %}
      <div class="frontpage-links-wrapper">
        <a class="frontpage-item">hello {{user.username}} </a>
        <a class="frontpage-item">|</a>
        <a class="frontpage-item" href="/admin/"> admin </a>
        <a class="frontpage-item">|</a>
        <a class="frontpage-item" href="/logout/"> logout</a>
      </div>
      {% include 'parselist.html' %}
    {% endif%}

{% endblock body %}