body{
    background: black;
}

.welcome{
    color: yellow;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 10pt;
    font-family: Monospace;
    white-space: pre;
    width: 680px;
    height:180px;
    margin: auto;
}
