body{
    background: black;
}

.acspam-ascii{
    color: yellow;
    font-family: Monospace;
    white-space: pre;
    //float:left;
    padding: 20px;
    //margin: auto;
    font-size: 7pt;
    //width: 600px;
    //height:180px;
}

.loginform-container{
    //float:left;
    font-family: Monospace;
    color: gray;
    margin: 20px;

    input{
        background-color: black;
        color: yellow;
        border: 1px solid gray;
        padding: 5px;
        margin: 5px 0px;
        &[type=submit]{
            margin-left: 3px;
            font-family: Monospace;
            cursor: pointer;
        }
    }
    .loginform-message {
        padding: 10px 0px;
    }
}

.frontpage-logout{
    font-family: Monospace;
    color: gray;
    text-decoration: none;
    margin: 20px;
}