body{
    background: black;
    width:550px;
    margin:auto;
}
.acspam-ascii{
    color: yellow;
    font-family: Monospace;
    white-space: pre;
    padding: 20px;
    font-size: 7pt;
}

.loginform-container{
    font-family: Monospace;
    color: gray;
    margin: 20px;

    input{
        background-color: black;
        color: yellow;
        border: 1px solid gray;
        padding: 5px;
        margin: 5px 0px;
        &[type=submit]{
            margin-left: 3px;
            font-family: Monospace;
            cursor: pointer;
        }
    }
    .loginform-message {
        padding: 10px 0px;
    }
}
.frontpage-links-wrapper{
    margin: 20px;
    .frontpage-item{
        font-family: Monospace;
        color: gray;
        text-decoration: none;
        margin: 0px 5px;
    }    
}
.parseresults{
    color: yellow;
    font-family: Monospace;
    margin:auto;
    .result-item{
        padding:5px;
        border-top: 1px solid gray;
    }
}