option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: academicspam/wsgi.py

container_commands:
  01-purge-pyc-files:
    command: "python manage.py clean_pyc --path ."
  02-syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  03-migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  04-collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true